{%extends 'base.html'%}


{%block body%}
<h1 class="text-center text-primary mt-3">User detail</h1>
   <div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                  <h5 class="card-title">First Name: {{user.first_name}}</h5>
                  <p class="card-text">Last Name: {{user.last_name}}</p>
                  <p class="card-text">User Name: {{user.username}}</p>
                  <p class="card-text">Email: {{user.email}}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-4"></div>
    </div>
   </div>
   {%endblock%}
